body {
  height: 100vh;
  background-image: url(/assets/images/antique-antique-globe-antique-shop-antique-store-414916.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
h5,
h6,
p {
  color: white;
}
.btn {
  margin-left: 20px;
}
.btn {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 1em;
}
.teal.darken-4 {
  background-color: #004d40 !important;
  opacity: 0.95;
}
.orange.lighten-2 {
  background-color: #ffb74d !important;
  opacity: 0.9;
}
.cityFont {
  font-size: 70px;
  color: white;
}

.headerBlock {
  margin-top: 25px;
  background-color: whitesmoke;
  opacity: 0.87;
}
h3 {
  text-align: center;
  color: #305d58;
  padding-top: 10px;
  text-shadow: 1px 1px 0 rgb(240, 209, 38);
}
.cardColor {
  margin-left: 40px;
}
.row .col.s8 {
  margin-left: 50px;
  padding-bottom: 10px;
}
.active {
  font-size: 20px;
  padding-top: 15px;
  color: rgb(16, 75, 67);
}
.move {
  margin-left: 40px !important;
}

.input-field input[type="text"]:focus {
  background-color: rgb(250, 253, 228);
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0);
  color: black;
}

.color {
  background: rgb(228, 171, 85);
}
.strikethrough:checked + span {
  text-decoration: line-through;
}
.divBox {
  padding-bottom: 10px;
}
.todoBox {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  background-color: #ffd791;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}
label {
  color: #305d58;
}

.imageResolved img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.column {
  opacity: 0.95;
}

.card {
  text-align: center;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  color: white;
  line-height: 1.5;
  border-left: 6px solid orange;
  border-bottom: 1px solid orange;
  border-radius: 5px;
}
.delete {
  color: red;
  cursor: pointer;
  font-weight: 500;
  padding-right: 0.3em;
  text-align: right;
  float: right;
  padding-right: 10px;
  opacity: 0.8;
}
